---
import { Picture } from "@astrojs/image/components";
---
<a href="https://twitter.com/ashidiqidimas">
    <Picture
        src="https://pub-b01531a0b7c646a4ac161b07b0950d81.r2.dev/twitter-logo.webp"
        widths={[96]}
        aspectRatio="1:1"
        sizes="32px"
        alt="A logo of Twitter"
    />
</a>
<a href="linkedin.com/in/dimas-ashidiqi-5432491b1">
    <Picture
        src="https://pub-b01531a0b7c646a4ac161b07b0950d81.r2.dev/linkedin-logo.webp"
        widths={[96]}
        aspectRatio="1:1"
        sizes="32px"
        alt="A logo of LinkedIn"
    />
</a>
<a href="https://github.com/ashidiqidimas">
    <Picture
        src="https://pub-b01531a0b7c646a4ac161b07b0950d81.r2.dev/github-logo.webp"
        widths={[96]}
        aspectRatio="1:1"
        sizes="32px"
        alt="A logo of Github"
    />
</a>
