---
import { Picture } from "@astrojs/image/components";
---

<header class="bg-gray-900 fixed z-50 w-full px-4 sm:px-6 py-2 flex justify-between items-center">
    <div class="flex gap-4 items-center">
        <Picture
            src="https://pub-b01531a0b7c646a4ac161b07b0950d81.r2.dev/dimas-logo.webp"
            widths={[144, 180]}
            aspectRatio="3:2"
            sizes="(max-width: 640px) 56px, 60px"
            alt="A logo of Dimas"
        />
        <h5 class="text-primary-400 text-2xl font-medium sm:block">Dimas Ashidiqi</h5>
    </div>
    <a href="/contact" class="text-tPrimary bg-gray-700 px-4 py-2 rounded-large hidden sm:block">Contact</a>
</header>
